
@import url('https://fonts.googleapis.com/css2?family=Alef&family=Karantina:wght@300&family=Rubik:ital,wght@0,560;1,300;1,400&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@300&family=Rubik:ital,wght@0,560;1,300;1,400&display=swap');*/
.card {
  margin: 7px;
}
html,
body {
  direction: rtl;
  height: auto;
  margin: 0;
  font-family: Alef;
  text-align: right;
}
.brown{
  color: #893F04;
}
.bac-brown{
  background-color: #893F04;
}
.light-brown{
  color: #C67F43;
}
.bac-light-brown{
  background-color: #C67F43;
}
.cream{
  color: #F8F4F1;
}
.bac-cream{
  background-color: #F8F4F1;
}
.pink{
  color: #D49B7E;
}
.bac-pink{
  background-color: #D49B7E;
}
.light-pink{
  color: #DDB8A6;
}
.light-green{
  background-color: #989E8B;
}
.green{
  color: #7B876D;
}
.bac-green{
  background-color: #7B876D;
}

.mat-icon {
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  height: 24px;
  width: 24px;
}
p {
  direction: rtl;
}

/*bootstrap*/
.form-control:focus {
  color: #495057;
  border-color: #393b39;
  box-shadow: 0 0 0 0.2rem rgba(25, 26, 25, 0.25);
}


