

/* header {
  margin: 0;
} */
/*.navbar-toggler {
  /* color: #8b3b20; 
  font-size: 35px;
   background: white; 

}*/
/* li {
  font-size: 35px;
  margin-left: 10px;
} */
/*.navbar-dark .navbar-nav .nav-link{
  color: #642611;
 align-items: center; 
}*/

footer {
  margin-top: 15px;
  font-size: 15px;
}

