<h1>מוצרים</h1>
<button mat-button class="bac-pink">הוסף מוצר</button>
<table class="table">
  <thead>
  <tr>
    <th scope="col">id</th>
    <th scope="col">name</th>
    <th scope="col">amount</th>
    <th scope="col">price</th>
    <th scope="col">details</th>
    <th scope="col">title</th>
    <th scope="col">image</th>
    <th scope="col">category</th>
  </tr>
  </thead>
  <tbody class="table-group-divider" >

  <tr *ngFor="let item of products">
    <td>{{item._id}}</td>
    <td>{{item.name}}</td>
    <td>{{item.amount}}</td>
    <td>{{item.price}}</td>
    <td>{{item.details}}</td>
    <td>{{item.title}}</td>
    <td>{{item.image}}</td>
    <td>{{item.category}}</td>
  </tr>
  </tbody>
</table>
