<form>
    <fieldset>
        <legend>צור קשר</legend>

        <div class="form-group">
            <label for="exampleInputEmail1">כתובת מייל</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="הכנס מייל ">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>

        <div class="form-group">
            <label for="exampleSelect2">נושא הפניה </label>
            <select class="form-control" id="exampleSelect2">
                <option>משלוח</option>
                <option>הזמנה בהתאמה אישית</option>
                <option>אחר</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleTextarea">תוכן הפניה</label>
            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="exampleInputFile">File input</label>
            <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
            <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the
                above
                input. It's a bit lighter and easily wraps to a new line.</small>
        </div>


        <fieldset class="form-group">
            <legend>Checkboxes</legend>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="" checked="">
                    אני מסכימ\ה לתנאי השימוש </label>
            </div>
            <div class="form-check disabled">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="" disabled="">
                    Option two is disabled
                </label>
            </div>
        </fieldset>

        <button type="submit" class="btn btn-primary">Submit</button>
    </fieldset>
</form>