<form [formGroup]="this.form" (ngSubmit)="submit()">
    <h2>צור קשר</h2>
    <div class="form-group">
        <label class="vertical-align-top">שם מלא * </label>
        <div class="d-inline-block">
            <input type="text" class="form-control input-design " formControlName="name">
            <small *ngIf="form.controls['name'].invalid && isSubmitting" class="text-danger">
                הכנס שם
            </small>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">שלח</button>
</form>